<div class="row">
  <div class="columns small-12">
    <div class="episode-container" id="episode-<%= @episode.id %>">
      <h2 class="subhead"><%= link_to @episode.series.name, podcast_series_path(@episode.series) %></h2>
      <%= render partial: "podcast/episodes/card", locals: {episode: @episode} %>
    </div>
  </div>
</div>

<%= link_to "Edit", edit_podcast_episode_path(@episode) %> |
<%= link_to "Back", podcast_episodes_path %>
