<div class="row">
  <div class="columns small-12">
    <p id="notice"><%= notice %></p>

    <h1>Podcast Series</h1>

  </div>
  <div class="columns small-12">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Episodes</th>
        </tr>
      </thead>

      <tbody>
        <% @series.each do |s| %>
          <tr>
            <td>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_podcast_series_path(s) %>
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, podcast_series_path(s), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td><%= link_to s.name, podcast_series_path(s) %></td>
            <td><%= s.description.truncate(200, seperator: " ") %></td>
            <td><%= s.episodes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Series', new_podcast_series_path %>
  </div>
</div>
